.card{
    border-radius: 0.5rem;
        background-color: cornflowerblue;
        color: white;
}

.text-muted {
    --bs-text-opacity: 1;
    /* color: #6c757d!important; */
    color: white;
}

.user-list {
    margin-left: 300px;
}